*, body {
  font-family: 'Open Sans', sans-serif;
}
body {
  color: $black;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: $lightGray;
  overflow-wrap: break-word;
  word-break: break-word;
}