footer
    section
        h2 Coordonnées
        p Laurie-Anne Romagne<br>Photographie Créative
        p
            a( href="mailto:info@laurieanne-romagne.com" title="M'envoyer un e-mail" ) info@laurieanne-romagne.com
        p
            a( href="#" title="Vers la page Contact" ) Me contacter
        small Toutes les photos de ce site sont protégées<br>Photos : &copy; Laurie-Anne Romagne<br>Site : &copy; Cédric Müller

    nav
        h2 Navigation secondaire
        ul
            li
                a( href="#" title="Vers la page d'accueil" ) Accueil
            li
                a( href="#" title="Vers la page Professionnels" ) Professionnels
            li
                a( href="#" title="Vers la page Particuliers" ) Particuliers
                ul
                    li
                        a( href="#" title="Vers la page Mariage" ) Mariage
                    li
                        a( href="#" title="Vers la page Portrait" ) Portrait
                    li
                        a( href="#" title="Vers la page Grossesse & naissance" ) Grossesse & naissance
            li
                a( href="#" title="Vers la page Artistique" ) Artistique
                ul
                    li
                        a( href="#" title="Vers le site de notre partenaire" ) Acheter chez notre partenaire
            li
                a( href="#" title="Vers la page Expo" ) Expo
            li
                a( href="#" title="Voir mes infos sur la page Contact" ) À propos de moi
            li
                a( href="#" title="Vers la page Contact" ) Contact

    nav
        h2 Suivez-moi
        ul
            li
                a( href="#" title="Vers ma page facebook" ) Laurie-Anne Romagne Photographie
            li
                a( href="#" title="Vers ma page instagram" ) laurieanneromagnephotographie