div
    div
        a( href="#" title="Vers la page d'accueil" ) Laurie-Anne Romagne Photographie

    nav( class="nav" )
        h2( class="hidden" ) Navigation
        ul
            li
                a( href="#" title="Vers la page Professionnels" ) Professionnels
            li
                a( href="#" title="Vers la page Particuliers" ) Particuliers
            li
                a( href="#" title="Vers la page Artistique" ) Artistique
            li
                a( href="#" title="Vers la page Expo" ) Expo
            li
                a( href="#" title="Vers la page Contact" ) Contact