doctype html
include inc/_mixins.pug
html( lang="fr" )
    +head("Artistique")

    body( id="top" class="nojs" )
        header( class="o-wrapper c-header" )
            div( role="banner" class="c-banner c-banner--artistique" )
                h1 Artistique
                p( class="c-banner__subtitle" ) Ut sodales nulla vel gravida lacinia. Cras in neque vitae arcu tincidunt port titor quis tellus. Phasellus a scelerisque lectus. Vestibulum rutrum, tellblus et eleifend dapibus, nisi mi mauris, id facilisis erat enim id ante.

            +mainNav("artistique")


        main( class="o-wrapper" id="content" )
            section
                h2 Mes projets artistiques

                ul( class="o-grid" )
                    each val, index in ['Reverzhi', 'Deep', 'Errance', 'MUE', 'La Cigogne', 'Goldroom', '日本', 'Bretagne contraire', 'Huahine – La vie locale', 'Gommes Bichromatées']
                        li( class="o-grid__col gd-6/18 gd-9/18@mobile gd-18/18@thumb c-project" )
                            a( href="./details-projet.html" title="Voir les détails de ce projet" )
                                figure( class="o-grid__cell c-project__item" )
                                    picture
                                        source( media="(min-width: 376px)" srcset='./assets/images/thumb-art-art' + (index + 1) + '.jpg' )
                                        img( src='./assets/images/thumb-art-art' + (index + 1) + '-sm.jpg' alt="Photo représentant le projet" )
                                    figcaption( class="c-project__content" ) #{val}

                div( class="c-cta" )
                    a( href="./expos.html" title="Vers la page Expos" class="c-cta__button" )
                        span( class="text" ) Voir les prochaines dates de mes expositions
                        span( class="line -right" )
                        span( class="line -top" )
                        span( class="line -left" )
                        span( class="line -bottom" )


        +footer