doctype html
html( lang="fr" )
    head
        title Contact | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            h1( role="heading" aria-level="1" ) Contact

            include includes/_nav.pug

        aside
            h2( role="heading" aria-level="2" ) Qui suis-je ?
            p Je pratique depuis plusieurs années une photographie d’auteur à tendance autobiographique et poétique.
            p Je réalise également des reportages sur divers sujets de proximité, aussi bien pour des professionnels que pour des particuliers. Mon activité photographique est ainsi très diversifiée.
            p J’aime varier et expérimenter diverses techniques de prise de vue et d’impression : numérique, polaroid, photographisme, gomme bichromatée…
            p E-mail : <a href="mailto:laurieanne-romagne@gmail.com" title="Envoyer un e-mail à mon adresse">laurieanne-romagne@gmail.com</a>

        main
            form( action="#" type="POST" )
                section
                    h2 Oups !
                    p Merci d'indiquer votre nom
                    p Merci d'indiquer une adresse e-mail valide
                    p Votre message doit faire au moins 10 caractères
                section
                    h2 Message envoyé !
                    p Votre message a correctement été envoyé. J'y répondrai dans les plus brefs délais
                p
                    label( for="nom" ) Votre nom :
                    input( type="text" id="nom" name="nom" placeholder="John Doe" )
                p
                    label( for="mail" ) Votre e-mail :
                    input( type="text" id="mail" name="mail" placeholder="adresse@gmail.com" )
                p
                    label( for="message" ) Votre message :
                textarea( id="message" name="message" )
                p
                    input( type="submit" value="Envoyer" )


        include includes/_footer.pug