doctype html
html( lang="fr" )
    head
        title Catégorie 'mariage' | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            div( role="banner" style="width: 936px; overflow: hidden; margin: auto;" )
                div( style="width: 216px; height: 538px; float: left; background-color : #AAA; border: 1px solid black; box-sizing: border-box; margin-right: 24px;" )
                div( style="width: 216px; height: 168px; float: left; background-color : #AAA; border: 1px solid black; box-sizing: border-box; margin-right: 24px;" )
                div( style="width: 456px; height: 168px; float: right; background-color : #AAA; border: 1px solid black; box-sizing: border-box; margin-bottom: 24px;" )
                div( style="width: 456px; height: 346px; float: left; background-color : #AAA; border: 1px solid black; box-sizing: border-box;" )
                    h1( role="heading" aria-level="1" ) Mariage
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                div( style="width: 216px; height: 538px; float: right; background-color : #AAA; border: 1px solid black; box-sizing: border-box;" )
                div( style="width: 456px; height: 168px; float: left; background-color : #AAA; border: 1px solid black; box-sizing: border-box; margin-top: 24px;" )
                div( style="width: 216px; height: 168px; float: right; background-color : #AAA; border: 1px solid black; box-sizing: border-box; margin-top: 24px; margin-right: 24px" )
                div( style="clear: both; text-align: center;" )
                    a( href="#" title="Vers la page de contact" ) Commander mes services pour des photos inoubliables
                div( style="text-align: center;" )
                    a( href="#" title="Vers l'e-shop externe" ) Voir les livres mariages que j’ai réalisé

            include includes/_nav.pug


        main
            section
                h2( role="heading" aria-level="2" ) L'ensemble de mes projets <em>Mariage</em>

                ul
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Famille Lorem
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Mariage sur le thème Ipsum
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Famille Dolor
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Sit & Amet



        include includes/_footer.pug