doctype html
include inc/_mixins.pug
html( lang="fr" )
    +head("Mariages")

    body( id="top" class="nojs" )
        header( class="c-header o-wrapper" id="content" )

            div( role="banner" class="c-spiral" )
                div( class="c-spiral__img")
                    img( src="./assets/images/mariage1.jpg" alt="Photo" class="c" )
                div( class="c-spiral__img" )
                    img( src="./assets/images/mariage2.jpg" alt="Photo" class="c" )
                div( class="c-spiral__img" )
                    img( src="./assets/images/mariage3.jpg" alt="Photo" class="c" )
                div( class="c-spiral__img" )
                    h1 Mariage
                    p( class="c-spiral__content" ) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                div( class="c-spiral__img" )
                    img( src="./assets/images/mariage5.jpg" alt="Photo" class="c" )
                div( class="c-spiral__img" )
                    img( src="./assets/images/mariage6.jpg" alt="Photo" class="c" )
                div( class="c-spiral__img" )
                    img( src="./assets/images/mariage7.jpg" alt="Photo" class="c" )

            div( class="c-cta" )
                a( href="./contact.html" title="Vers la page de contact" class="c-cta__button" )
                    span( class="text" ) Commander mes services pour des photos inoubliables
                    span( class="line -right" )
                    span( class="line -top" )
                    span( class="line -left" )
                    span( class="line -bottom" )
            div( class="c-cta" )
                a( href="http://www.google.com/" title="Vers l'e-shop externe" class="c-cta__button" )
                    span( class="text" ) Voir les livres mariages que j’ai réalisé
                    span( class="line -right" )
                    span( class="line -top" )
                    span( class="line -left" )
                    span( class="line -bottom" )

            +mainNav("particuliers")


        main( class="o-wrapper" )
            section
                h2 L'ensemble de mes projets <em>Mariage</em>

                ul( class="o-grid" )
                    each val, index in ['Famille Lorem', 'Mariage sur le thème Ipsum', 'Famille Dolor', 'Sit & Amet']
                        li( class="o-grid__col gd-6/18 gd-9/18@mobile gd-18/18@thumb c-project" )
                            a( href="./details-projet.html" title="Voir les détails de ce projet" )
                                figure( class="o-grid__cell c-project__item" )
                                    picture
                                        source( media="(min-width: 376px)" srcset="./assets/images/thumb-par-art1.jpg" )
                                        img( src='./assets/images/thumb-par-art1-sm.jpg' alt="Photo représentant le projet" )
                                    figcaption( class="c-project__content" ) #{val}


        +footer