doctype html
html( lang="fr" )
    head
        title Bretagne Contraire | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            div( role="banner" )
                h1( role="heading" aria-level="1" ) Bretagne contraire
                p Ut sodales nulla vel gravida lacinia. Cras in neque vitae arcu tincidunt port titor quis tellus. Phasellus a scelerisque lectus. Vestibulum rutrum, tellblus et eleifend dapibus, nisi mi mauris, id facilisis erat enim id ante.

            include includes/_nav.pug


        main
            section
                h2( role="heading" aria-level="2" ) Mes projets artistiques

                ul
                    li
                        figure
                    li
                        figure
                    li
                        figure
                    li
                        figure
                    li
                        figure
                    li
                        figure
                    li
                        figure
                    li
                        figure



        include includes/_footer.pug