doctype html
html( lang="fr" )
    head
        title Expositions & publication | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            h1( role="heading" aria-level="1" ) Expositions et publications

            include includes/_nav.pug

        main
            section
                h2( role="heading" aria-level="2" ) 2018
                article
                    h3( role="heading" aria-level="3" ) Résidence à Berlin
                    time(datetime="2018-10-02") 10/02
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis. Aliquam sit amet velit nec risus pretium maximus.
            section
                h2( role="heading" aria-level="2" ) 2017
                article
                    h3( role="heading" aria-level="3" ) Expo à Anvers
                    time(datetime="2017-11-10") 10/11
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis. Aliquam sit amet velit nec risus pretium maximus.
                article
                    h3( role="heading" aria-level="3" ) Expo à Bruxelles
                    time(datetime="2017-08") Août 17
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis. Aliquam sit amet velit nec risus pretium maximus.
                article
                    h3( role="heading" aria-level="3" ) Résidence à Londres
                    time(datetime="2017-03-17") 17/03
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis. Aliquam sit amet velit nec risus pretium maximus.
            section
                h2( role="heading" aria-level="2" ) 2016
                article
                    h3( role="heading" aria-level="3" ) Expo à Huy
                    time(datetime="2016-09-14") 14/09
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis. Aliquam sit amet velit nec risus pretium maximus.


        include includes/_footer.pug