doctype html
include inc/_mixins.pug
html( lang="fr" )
    +head("Expos")

    body( id="top" class="nojs" )
        header( class="o-wrapper c-header" )
            div( role="banner" class="c-banner c-banner--expos" )
                h1 Expositions et publications

            +mainNav("expos")

        main( class="o-wrapper" id="content" )
            section( class="o-grid o-grid--spaced" )
                h2( class="o-grid__col gd-18/18" ) 2018
                div( class="o-grid__col gd-8/18 gd-14/18@lap gd-18/18@phablet" )
                    article( class="o-grid__cell c-expo" )
                        div( class="c-expo__banner hidden@thumb" )
                            img( src="./assets/images/expo-1.jpg" alt="Photo d'un couloir avec des photos encadrées au mur" )
                            time( datetime="2018-10-02" class="c-expo__time" ) 10/02
                        div( class="c-expo__content" )
                            h3 Résidence à Berlin
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis
            section( class="o-grid o-grid--spaced" )
                h2( class="o-grid__col gd-18/18" ) 2017
                div( class="o-grid__col gd-8/18 gd-14/18@lap gd-18/18@phablet" )
                    article( class="o-grid__cell c-expo" )
                        div( class="c-expo__banner hidden@thumb" )
                            img( src="./assets/images/expo-2.jpg" alt="Affiche d'Expolaroid avec, en fond, une photo de végétaux en contre-jour" )
                            time( datetime="2017-11-22" class="c-expo__time" ) 22/11
                        div( class="c-expo__content" )
                            h3 Expo à Bruxelles
                            p Vestibulum ac erat sit amet augue tincidunt pretium. Vivamus ut eros eu turpis suscipit commodo. Nulla vehicula lorem felis
                div( class="bar" )
                div( class="o-grid__col gd-8/18 gd-14/18@lap gd-18/18@phablet" )
                    article( class="o-grid__cell c-expo" )
                        div( class="c-expo__banner hidden@thumb" )
                            img( src="./assets/images/expo-1.jpg" alt="Photo d'un couloir avec des photos encadrées au mur" )
                            time( datetime="2017-08-01" class="c-expo__time" ) 01/08
                        div( class="c-expo__content" )
                            h3 Expo à Anvers
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis
                div( class="o-grid__col gd-8/18 gd-14/18@lap gd-18/18@phablet" )
                    article( class="o-grid__cell c-expo" )
                        div( class="c-expo__banner hidden@thumb" )
                            img( src="./assets/images/expo-1.jpg" alt="Photo d'un couloir avec des photos encadrées au mur" )
                            time( datetime="2017-03-17" class="c-expo__time" ) 17/03
                        div( class="c-expo__content" )
                            h3 Résidence à Londres
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis
            section( class="o-grid o-grid--spaced" )
                h2( class="o-grid__col gd-18/18" ) 2016
                div( class="o-grid__col gd-8/18 gd-14/18@lap gd-18/18@phablet" )
                    article( class="o-grid__cell c-expo" )
                        div( class="c-expo__banner hidden@thumb" )
                            img( src="./assets/images/expo-1.jpg" alt="Photo d'un couloir avec des photos encadrées au mur" )
                            time( datetime="2016-09-14" class="c-expo__time" ) 14/09
                        div( class="c-expo__content" )
                            h3 Expo à Huy
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum facilsis ligula, sed accumsan nisl imperiet sit amet. Fusce semper venenatis


        +footer