doctype html
html( lang="fr" )
    head
        title Particuliers | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            div( role="banner" )
                h1( class="hidden" ) Particuliers
                div( class="videoWrapper" )
                    iframe(
                        width="1056" height="594"
                        src="https://www.youtube.com/embed/appQmNNTC90?rel=0&showinfo=0"
                        allowfullscreen )

            include includes/_nav.pug


        main
            section
                figure
                div
                    h2 Mariage
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                    div
                        a( href="#" title="Voir plus d'informations sur cette catégorie" ) En savoir plus
            section
                div
                    h2 Portrait
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                figure
                div
                    a( href="#" title="Voir plus d'informations sur cette catégorie" ) En savoir plus
            section
                figure
                div
                    h2 Grossesse et naissance
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                    div
                        a( href="#" title="Voir plus d'informations sur cette catégorie" ) En savoir plus


        include includes/_footer.pug