doctype html
include inc/_mixins.pug
html( lang="fr" )
    +head("Particuliers")

    body( id="top" class="nojs" )
        header( class="o-wrapper c-header c-header--particuliers" )
            +mainNav("particuliers")


        main( class="o-wrapper" id="content" )
            section( class="o-grid o-grid--no-gutter" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet" )
                    picture
                        source( media="(min-width: 776px)" srcset="./assets/images/mariage.jpg" )
                        img( src="./assets/images/mariage-sm.jpg" alt="Photo représentant la catégorie" class="c-subcat__image" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet o-grid__col--streched c-subcat" )
                    div( class="o-grid__cell o-grid__cell--v-centered c-subcat__content" )
                        h2 Mariage
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                        div( class="c-cta" )
                            a( href="./details-categorie.html" title="Voir plus d'informations sur cette catégorie" class="c-cta__button" )
                                span( class="text" ) En savoir plus
                                span( class="line -right" )
                                span( class="line -top" )
                                span( class="line -left" )
                                span( class="line -bottom" )
            section( class="o-grid o-grid--no-gutter" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet o-grid__col--streched c-subcat" )
                    div( class="o-grid__cell o-grid__cell--v-centered c-subcat__content" )
                        h2 Portrait
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                        div( class="c-cta" )
                            a( href="./details-categorie.html" title="Voir plus d'informations sur cette catégorie" class="c-cta__button" )
                                span( class="text" ) En savoir plus
                                span( class="line -right" )
                                span( class="line -top" )
                                span( class="line -left" )
                                span( class="line -bottom" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet" )
                    picture
                        source( media="(min-width: 776px)" srcset="./assets/images/portraits.jpg" )
                        img( src="./assets/images/portraits-sm.jpg" alt="Photo représentant la catégorie" class="c-subcat__image" )
            section( class="o-grid o-grid--no-gutter" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet" )
                    picture
                        source( media="(min-width: 776px)" srcset="./assets/images/grossesses.jpg" )
                        img( src="./assets/images/grossesses-sm.jpg" alt="Photo représentant la catégorie" class="c-subcat__image" )
                div( class="o-grid__col gd-9/18 gd-18/18@tablet o-grid__col--streched c-subcat" )
                    div( class="o-grid__cell o-grid__cell--v-centered c-subcat__content" )
                        h2 Grossesse et naissance
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet velit nec risus pretium maximus. In sit amet nunc nulla. Cras iaculis turpis sed turpis placerat hendrerit. Mauris ut nisi lobortis, dictum orci.
                        div( class="c-cta" )
                            a( href="./details-categorie.html" title="Voir plus d'informations sur cette catégorie" class="c-cta__button" )
                                span( class="text" ) En savoir plus
                                span( class="line -right" )
                                span( class="line -top" )
                                span( class="line -left" )
                                span( class="line -bottom" )


        +footer