doctype html
include inc/_mixins.pug
html( lang="fr" )
    +head("Professionnels")

    body( id="top" class="nojs" )
        header( class="o-wrapper c-header" )
            div( role="banner" class="c-banner c-banner--professionnels" )
                h1 Professionnels
                p( class="c-banner__subtitle" ) Ut sodales nulla vel gravida lacinia. Cras in neque vitae arcu tincidunt port titor quis tellus. Phasellus a scelerisque lectus. Vestibulum rutrum, tellblus et eleifend dapibus, nisi mi mauris, id facilisis erat enim id ante.

            +mainNav("professionnels")


        main( class="o-wrapper" id="content" )
            section
                h2 Mes projets professionnels
                div( id="f-btn-containe" )
                    button( class="c-project__filter c-project__filter--active" onclick="filterSelection('all')" ) Tous
                    button( class="c-project__filter" onClick="filterSelection('companies')" ) Entreprises
                    button( class="c-project__filter" onClick="filterSelection('cultural')" ) Culturels
                    button( class="c-project__filter" onClick="filterSelection('reports')" ) Reportages
                    button( class="c-project__filter" onClick="filterSelection('studio')" ) Studio/graphisme

                ul( class="o-grid f-container" )
                    - var projects = [{'name':'Infrabel / SNCB', 'tag':'companies'}, {'name':'Dernier jardin', 'tag':'cultural reports'}, {'name':'Loft capucines', 'tag':'companies'}, {'name':'Tous en campagne', 'tag':'studio'}, {'name':'Chroniques d’un quartier', 'tag':'cultural reports'}]
                    each project, index in projects
                        li( class='o-grid__col gd-6/18 gd-9/18@mobile gd-18/18@thumb c-project ' + project.tag )
                            a( href="./details-projet.html" title="Voir les détails de ce projet" )
                                figure( class="o-grid__cell c-project__item" )
                                    img( src='./assets/images/thumb-pro-art' + (index + 1) + '.jpg' srcset='./assets/images/thumb-pro-art' + (index + 1) + '.jpg 336w, ./assets/images/thumb-pro-art' + (index + 1) + '-sm.jpg 377w' sizes="(max-width: 375px) 377px, (min-width: 376px) 336px" alt="Photo représentant le projet" )
                                    figcaption( class="c-project__content" ) #{project.name}

                div( class="c-cta" )
                    a( href="./contact.html" title="Vers la page de contact" class="c-cta__button" )
                        span( class="text" ) Collaborer avec moi
                        span( class="line -right" )
                        span( class="line -top" )
                        span( class="line -left" )
                        span( class="line -bottom" )

            section
                h2 Ils m’ont fait confiance
                ul
                    li( class="c-partner" )
                        img( src="./assets/images/partenaire1.jpg" alt="Logo du partenaire" )
                    li( class="c-partner" )
                        img( src="./assets/images/partenaire1.jpg" alt="Logo du partenaire" )
                    li( class="c-partner" )
                        img( src="./assets/images/partenaire1.jpg" alt="Logo du partenaire" )


        +footer