doctype html
html( lang="fr" )
    head
        title Professionnels | Laurie-Anne Romagne Photographie
        include includes/_head.pug

    body( id="top" )
        header

            div( role="banner" )
                h1( role="heading" aria-level="1" ) Professionnels
                p Ut sodales nulla vel gravida lacinia. Cras in neque vitae arcu tincidunt port titor quis tellus. Phasellus a scelerisque lectus. Vestibulum rutrum, tellblus et eleifend dapibus, nisi mi mauris, id facilisis erat enim id ante.

            include includes/_nav.pug


        main
            section
                h2( role="heading" aria-level="2" ) Mes projets professionnels
                ul
                    li
                        a( href="#" title="Afficher tous les projets professionnels" ) Tous
                    li
                        a( href="#" title="N'afficher que les projets faits pour des entreprises" ) Entreprises
                    li
                        a( href="#" title="N'afficher que les projets culutrels" ) Culturels
                    li
                        a( href="#" title="N'afficher que les projets \"reportages\"" ) Reportages
                    li
                        a( href="#" title="N'afficher que les projets \"studio/graphisme\"" ) Studio/graphisme

                ul
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Infrabel / SNCB
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Dernier jardin
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Loft capucines
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Tous en campagne
                    li
                        a( href="#" title="Voir les détail de ce projet" )
                            figure
                                figcaption Chroniques d’un quartier

                div
                    a( href="#" title="Vers la page de contact" ) Collaborer avec moi

            section
                h2( role="heading" aria-level="2" ) Ils m’ont fait confiance
                ul
                    li

                    li

                    li



        include includes/_footer.pug