$space: 24px;
.c-spiral {
  width: 936px;
  overflow: hidden;
  margin:  auto;
  &__content {
    align-self: auto;
  }
  &__img {
    &:nth-child(1) {
      width: 216px;
      float: left;
      margin-right: $space;
    }
    &:nth-child(2) {
      width: 216px;
      float: left;
      margin-right: $space;
    }
    &:nth-child(3) {
      width: 456px;
      float: right;
      margin-bottom: $space;
    }
    &:nth-child(4) {
      width: 456px;
      height: 346px;
      float: left;
      background: linear-gradient(rgba(255,255,240,.8), rgba(255,255,240,.8)), url('../images/mariage4.jpg');
      text-align: center;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:nth-child(5) {
      width: 216px;
      float: right;
    }
    &:nth-child(6) {
      width: 456px;
      float: left;
      margin-top: $space;
    }
    &:nth-child(7) {
      width: 216px;
      float: right;
      margin-top: $space;
      margin-right: $space;
    }
  }
}

@media all and (max-width: $lap) {
  .c-spiral {
    width: auto;
    &__img {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        display: none;
      }
      &:nth-child(4) {
        margin: 0 auto;
        float: none;
        width: auto;
        max-width: 456px;
      }
    }
  }
}